<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <h2> To do List </h2>
    <div id="app">
      <img :src="myUrl" width="300" alt="cat">
      <button @click="getUrl">고양이!</button>
      <br>
      <input type="text" v-model="userInput" @keyup.enter="addTodo">
      <button @click="addTodo">+</button>
      <ul>
        <li v-for="todo in todos">{{ todo.content }}</li>
      </ul>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue ({
      el: '#app',
      data: {
        userInput:'',
        todos:[],
        myUrl:'',
      },
      methods: {
        addTodo: function () {
          this.todos.push({
            content:this.userInput, isCompleted:false
          })
        },
        getUrl: function () {
          axios.get('https://api.thecatapi.com/v1/images/search/')
          .then((res) => {
          console.log("res", res)
          this.myUrl = res.data[0].url
          })
        },
      },
    })
  </script>
</body>
</html>